

  <nav class="js-scrollFollow">
<h3 class="categorymenu-caption">カテゴリ一覧</h3>
<ul class="categorymenu-container">
    <li class="categorymenu-item is-all is-current">
      <!--<a href="index.html">--><span class="iconCategory"></span><span><%= link_to "ホーム", root_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "ファッション",fashion_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "美容健康",beauty_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "おでかけ",hangout_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "グルメ",gourmet_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "ライフスタイル",lifestyle_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "エンタメ",entertainment_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "インテリア",interior_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "ガジェット",gadget_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "学び",learn_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "おもしろ",funny_path %></span></a>
    </li>
</ul>

</nav>

  

  
