

  <nav class="js-scrollFollow">
<h3 class="categorymenu-caption">カテゴリ一覧</h3>
<ul class="categorymenu-container">
    <li class="categorymenu-item is-all is-current">
      <!--<a href="index.html">--><span class="iconCategory"></span><span><%= link_to "ホーム", root_path %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "ファッション",cfashion_path(category: 20) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "ビューティー",cbeauty_path(category: 30) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "ライフスタイル",clifestyle_path(category: 40) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "グルメ",cgourmet_path(category: 50) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "おでかけ",changout_path(category: 60) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "エンタメ",centertainment_path(category: 70) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "学び",cstudy_path(category: 80) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "アイテム",citem_path(category: 90) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "おもしろ",cfunny_path(category: 100) %></span></a>
    </li>
    <li class="categorymenu-item is-not-current ">
      <!--<a href="category.html">--><span class="iconCategory"></span><span><%= link_to "その他",cothers_path(category: 110) %></span></a>
    </li>
</ul>

</nav>

  

  
