    <!-- フッター -->

  
<footer class="footer" onload="">
  <div class="footer-inner">
    <ul>
      <li class="footer-logo"><%= link_to "RanQ", root_path %></li>
      
      <!-- カテゴリ -->
      <li class="footer-column">
        <p class="footer-column-title">カテゴリ一覧</p>
      
        <ul class="footer-column-list">
          <li><%= link_to "ファッション",fashion_path %></li>
          <li><%= link_to "美容健康",beauty_path %></li>
          <li><%= link_to "おでかけ",hangout_path %></li>
          <li><%= link_to "グルメ",gourmet_path %></li>
          <li><%= link_to "ライフスタイル",lifestyle_path %></li>
        </ul>
      
        <ul class="footer-column-list">
          <li><%= link_to "エンタメ",entertainment_path %></li>
          <li><%= link_to "インテリア",interior_path %></li>
          <li><%= link_to "ガジェット",gadget_path %></li>
          <li><%= link_to "学び",learn_path %></li>
          <li><%= link_to "おもしろ",funny_path %></li>
        </ul>
      </li>
    <!-- /カテゴリ -->
    
    <!-- RanQについて -->
      <li class="footer-column">
        <p class="footer-column-title">RanQについて</p>
      
        <ul class="footer-column-list">
          <li><a href="">まとめ一覧</a></li>
          <li><a href="">特集一覧</a></li>
          <li><a href="">キーワード一覧</a></li>
          <li><!--<a href="">キュレーター一覧</a>--><%= link_to "キュレーター一覧" ,users_path %></li>
          <li><a href="">お問い合わせ</a></li>
        </ul>
      
        <ul class="footer-column-list">
          <li><a href="" target="_blank">運営会社</a></li>
          <li><a href="">よくある質問</a></li>
          <li><a href="">利用規約</a></li>
          <li><a href="">プライバシーポリシー</a></li>
        </ul>
      
        <ul class="footer-column-last">
          <li class="ranq-title"><p>RanQ [ランク]</p></li>
          <li><p>ランキング形式で知りたいが分かるメディア</p></li>
          <li><p>Copyright© ForStart, Inc. All Rights Reserved.</p></li>
        </ul>
      </li>
    <!-- /RanQについて -->
    </ul>
  </div>
</footer >


<!-- /フッター -->
