<header class="header push">
<div class="header-inner">
    <h1 class="header-logo"><%= link_to "RanQ", root_path ,:style =>"color: black;"%></h1>
  <% if logged_in? %>
    <ul class="header-navi is-non-login" id="non_login_user_header_menu"> 
      <li class="header-navi-menu"><%= link_to "記事を投稿する", "/articles/new" ,:ref => "nofollow"%></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <div class="profimg">
            <%= image_tag current_user.user_image_url(:thumb)%>
           </div>
        </a>
        <ul class="dropdown-menu">
          <li>マイページ</li>
          <li><%= link_to current_user.user_name, "/@#{current_user.name}",:rel => "nofollow" %></li>
          <div id="users_use" >
           <li><%= link_to "ユーザー情報変更", "/profile/edit" ,:rel => "nofollow"%></li>
           <li><%= link_to "記事を編集する", "/@#{current_user.name}/edit_articles" ,:rel => "nofollow" %></li>
           <li><%= link_to "アイテムを作る", "/items/new" ,:rel => "nofollow"%></li>           
           <li class="divider"></li>
           <li>
             <%= link_to "ログアウト",destroy_user_session_path, method: "delete" %>
           </li>
          </div>
        </ul>
        <a href="#" id="notificationLink">
        	<%= image_tag('notification_bell.png', { :size => "25" , :alt => '通知'}) %>
        </a>
        <% @notification_counts = current_user.notifications.where(flag:false).count %>
        <span id="notification_count"><%= @notification_counts %></span>
        <div id="notificationContainer">
          <div id="notificationTitle">通知領域</div>
          <div id="notificationsBody" class="notifications">
            <div><%= render 'notifications/notifications', notifications: @notifications %></div>					<!--既存通知が入る-->
          </div>
        </div>
      </li>
    </ul>
   <% if @notification_counts == 0 %>
    <script> $("#notification_count").hide(); </script>
   <% end %>
  <% else %>
   <ul class="header-navi is-non-login" id="non_login_user_header_menu">
    <li class="header-navi-menu"><%= link_to "記事を投稿する", "/articles/new/" ,:ref =>"nofollow" %></a></li>
    <li class="header-navi-menu"><%= link_to "会員登録(無料)", "/users/sign_up/" ,:rel => "nofollow"%></li>
    <li class="header-navi-menu"><%= link_to "ログイン", "/users/sign_in/" ,:rel => "nofollow"%></li>
  </ul>
  <%end%>
</div><!-- /.hd_in -->


</header>
