<div class="ranking-section">
  <%= render 'static_pages/ranking' %>
</div>
<div class="osusume">
  <%= render 'static_pages/osusume' %>
</div>
<div class="shintyaku">
    <%= render 'static_pages/shintyaku' %>
</div>
    <div class="side_ad">
      <!-- /70932189/mery_pc_SidebarAboveTopicKeywords -->
    </div>
<div class="wadai_keywords">
  <%= render 'static_pages/wadai_keywords' %>
</div>
<div class="tokushu">
  <%= render 'static_pages/tokushu' %>
</div>