
  <%= render 'static_pages/head' %>


    <!-- Google Tag Manager -->
    <!-- /Google Tag Manager -->

    <!-- ヘッダー -->
   <!-- -->
    <!-- /ヘッダー -->

    <!-- コンテンツ -->
<%= render 'static_pages/topcontent' %>



<div id="wrapper" class="clearfix">
  <div id="column_content">
    <div class="categorymenu">
    <%= render 'static_pages/category' %>
  </div>

    <div id="content">
      <%= render 'static_pages/newpic' %>
    </div><!-- /#content -->
  </div><!-- /#column_content -->
  <div id="column_sidebar">
    <%= render 'static_pages/sidecontent' %>

  </div>
</div>




    <!-- /コンテンツ -->

<!--
      
-->

  