<!--
<ul>  
 
  <span class="user-name">
    <%#= article.user.name %>
  </span>
  <span class="content" style="height:75px; width:75px;">
    <%#= link_to article.eyecatch_img.html_safe, article_path(article.id) %>
    <%#= link_to article.title.html_safe, article_path(article.id) %>
    <div>
      <small>
        <%#= article.likes.count %>人がいいね！といっています
      </small>
    </div>

  </span>
  <span>
    <%#= article.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <%#= article.updated_at.strftime("%Y年%m月%d日　更新") %>
  </span>
  <%#= link_to 'Edit', edit_article_path(article) %> |
  <%#= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
</ul>

-->
        
<tr class="shop">
  <td><%#= article.category %></td>
<!--  
<td><%= link_to article.eyecatch_img.html_safe, article_path(article.id) %></td>
-->
<td><div id="s_article_thumbnail article_list_thumb" class="s_article_thumbnail" style="    width: 75px;
    height: 75px;
    display: none;
    overflow: hidden;
    background-color: #888;
    border: 1px solid #222;
    index:-1;">
        <img alt="記事タイトルが入ります" style="display:none;" class="crop_image" height="120" src="image/image-1.jpg" width="120" />
        <%= image_tag article.eyecatch_img ,:style =>" position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);" ,:id =>"s_eyecatch_img" %>
      </div>
    <div class="article_list_text">
<td><%= link_to article.title ,article_path(article.id) %></td>
<!--ここまで修正-->
  <td><%= article.description %></td>
  <td><%#= article.content %></td>
  <td><%= article.user.user_name %></td>
  <td><%= article.aasm_state %></td>
  <td><%= article.likes.count %>人がいいね！といっています</td>
  <td><%= article.updated_at.strftime("%Y年%m月%d日　更新") %></td>
  
  
  <% if @user == current_user %>
  <td><%= link_to 'Show', article %></td>
  <td><%= link_to 'Edit', edit_article_path(article) %></td>
  <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
 
</tr>
