<li>
  <fieldset class="fields ui-sortable-handle" >
     <a class="toplinkmove" href="#"></a>
  <div class="ckeditors">
    <%#= f.label :title, "タイトル" %>
    <h2><span class="ranking-icon"></span>
    <%= f.text_field :title, :class => 'form-control title-form'%></h2><br /><br/>
    <%= f.label :description, "説明" %>
    <%= f.cktext_area :description, :class => 'form-control ckeditor' %><br />
     <span class="hiddenButtons" value="隠す">

     <%= link_to "削除", '#', class: "remove_fields btn  btn-default"%>
     <div style="display:none;">
       <input type="button" id="tsubmit" value="交換">
       <input type="button" id="dsubmit" value="交換">
       <input type="button" id="utsubmit" >
       <input type="button" id="udsubmit" >
       <input type="button" id="dtsubmit" >
       <input type="button" id="ddsubmit" >
     </div>
     <input type="button" id="pup" class="pup btn btn-default" value="↑">
     <input type="button" id="pdown"class="pdown btn btn-default" value="↓">

     <input type="button" id="csubmit" style="display:none;">
     <input type="button" class="psubmit btn btn-default" id="psubmit" value="追
加する">
     <input type="button" style="display:none;" class="btn btn-default esubmit" value="編集">
    </span>
  </div>
  <div class="afsubmits" style="display:none;">
   <span class="hiddenButtons" value="隠す">

     <%= link_to "削除", '#', class: "remove_fields btn  btn-default"%>
     <div style="display:none;">
       <input type="button" id="tsubmit" value="交換">
       <input type="button" id="dsubmit" value="交換">
       <input type="button" id="utsubmit" >
       <input type="button" id="udsubmit" >
       <input type="button" id="dtsubmit" >
       <input type="button" id="ddsubmit" >
     </div>
     <input type="button" id="pup" class="pup btn btn-default" value="↑">
     <input type="button" id="pdown"class="pdown btn btn-default" value="↓">

     <input type="button" id="csubmit" style="display:none;">
     <input type="button" class="psubmit btn btn-default" id="psubmit" value="追
加する">
     <input type="button" style="display:none;" class="btn btn-default esubmit" value="編集">
    </span>
    <h2 class="aft"><span class="ranking-icon"></span></h2>
    <div class="afd"></div>
  </div>
    <!--
    <span class="hiddenButtons" value="隠す">
     <%= link_to "削除", '#', class: "remove_fields btn  btn-default"%>
     <!-#

     <input type="button" style="display:none;"class="tdsubmit" value="交換">
     #->
      
     <div style="display:none;">
       <input type="button" id="tsubmit" value="交換">
       <input type="button" id="dsubmit" value="交換">
       <input type="button" id="utsubmit" >
       <input type="button" id="udsubmit" >
       <input type="button" id="dtsubmit" >
       <input type="button" id="ddsubmit" >
     </div>
     <input type="button" id="pup" class="pup btn btn-default" value="上">
     <input type="button" id="pdown"class="pdown btn btn-default" value="下">
     
     <input type="button" id="csubmit" style="display:none;"> 
     <input type="button" class="psubmit btn btn-default" id="psubmit" value="プレビュー">
     <input type="button" style="display:none;" class="btn btn-default esubmit" value="編集">
    </span>
    -->
    <%#= f.hidden_field :position, class: :position %>
    <%= f.hidden_field :_destroy, class: "_destroy" %>
   
     <a class="bottomlinkmove" href="#"></a>
</fieldset>
</li>
