<fieldset class="fields ui-sortable-handle">
  <h1 id=rankh1></h1>
  <div class="ckeditors">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, :class => 'form-control '%><br />
    <%= f.label :description, "説明" %>
    <%= f.text_area :description, :class => 'form-control ckeditor' %><br />
  </div>
  <div class="afsubmits" style="display:none;">
    <p class="aft"></p>
    <div class="afd"></div>
  </div>
  <%= link_to "削除", '#', class: "remove_fields"%>
    <!--<span class="hiddenButtons" value="隠す"></span>
     
     <input type="button" style="display:none;"class="tdsubmit" value="交換">
     -->
     <div style="display:none;">
       <input type="button" id="tsubmit" value="交換">
       <input type="button" id="dsubmit" value="交換">
     </div>
     <input type="button" class="pup" value="上">
     <input type="button" class="pdown" value="下">
     <input type="button" id="csubmit" style="display:none;"> 
     <input type="button" class="psubmit"  value="プレビュー">
     <input type="button" style="display:none;" class="esubmit" value="編集">
    <%= f.hidden_field :position, class: :position %>
</fieldset>
