<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="posting_buttons">
  <input type="button" class="tdsubmit btn btn-lg btn-default" value="↑↓">
  <%= f.button @article.new_record? ? '下書きして保存' : '記事を更新する', name: 'ope[cmd]', value: 'save', class: 'btn btn-lg btn-default' %>
    <%= f.button '記事を更新して下書き', name: 'ope[cmd]', value: 'draft', class: 'btn  btn-lg btn-default' if @article.published?%>
    <%= f.button @article.new_record? ? '記事を新規公開する' :'記事を更新して公開', name: 'ope[cmd]', value: 'publish', class: 'btn btn-lg btn-default' if @article.draft?%>
  </div>  
   <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :eyecatch_img, :style =>"display:none;" ,:id => "eyecatch_img"%>    
    <div style="display:none;">
       <input type="button" id="tsubmit" value="交換">
       <input type="button" id="dsubmit" value="交換">
       <input type="button" id="csubmit" value="checked">
       <input type="button" id="tansubmit" value="ansubmit">
       <input type="button" id="dansubmit" value="ansubmit">
       <%= f.check_box :checkagree ,:id =>"checkAgree"%>
    </div>
    <div class="field selectpicker">
      <%= f.select :category ,Article.categories.keys.to_a,{} ,{class: "selectpicker"} %></div>
    <div class="field">
      <%= f.text_field :title,:placeholder=>"記事タイトルを入力する"%>
    </div>
    <div class="description_field">
     <div class="field" style="">
       <%= f.text_area :description, :class =>  "form-control ckeditor" %>

         <span class="hiddenButtons" value="隠す">

      <div style="display:none;">
       <input type="button" id="tsubmit" value="交換">
       <input type="button" id="dsubmit" value="交換">
       <input type="button" id="utsubmit" >
       <input type="button" id="udsubmit" >
       <input type="button" id="dtsubmit" >
       <input type="button" id="ddsubmit" >
      </div>

     <input type="button" id="csubmit" style="display:none;">
     <input type="button" class="pdsubmit btn btn-default" id="psubmit" style=""value="追加する">
     <input type="button" style="display:none;" class="btn btn-default esubmit" value="編集">
    </span>

       
     </div>
       <div class="afsubmits" style="display:none;">
   <span class="hiddenButtons" value="隠す">

     <div style="display:none;">
       <input type="button" id="tsubmit" value="交換">
       <input type="button" id="dsubmit" value="交換">
       <input type="button" id="utsubmit" >
       <input type="button" id="udsubmit" >
       <input type="button" id="dtsubmit" >
       <input type="button" id="ddsubmit" >
     </div>

     <input type="button" id="csubmit" style="display:none;">
     <input type="button" class="pdsubmit btn btn-default" id="psubmit" value="追加する" style="">
     <input type="button" style="display:none;" class="btn btn-default esubmit" value="編集">
    </span>
    <div class="afd"></div>
  </div>


     </div>
    
  <input type="text" style="display:none;" id="iurtmp" />
       <input type="button" id="spsubmit" value="sssssdsd" style="display:none;">


   <div class="field sortable">
    <ul class="ranking-content">
    <%= link_to_add_fieldsf "+", f, :contents %>
        <%= f.fields_for :contents do |builder| %>
             <%= render "econtent_fields", f: builder  %>
        <% end %>
   
    <%= link_to_add_fieldsl "+", f, :contents %>
    </ul>
  </div>
  <div id="article_form_list">
  </div>
  <input type="button" class="tdsubmit btn btn-lg btn-default" value="↑↓">
  <%= f.button @article.new_record? ? '下書きして保存' : '記事を更新する', name: 'ope[cmd]', value: 'save', class: 'btn btn-lg btn-default' %>
    <%= f.button '記事を更新して下書き', name: 'ope[cmd]', value: 'draft', class: 'btn  btn-lg btn-default' if @article.published?%>
    <%= f.button @article.new_record? ? '記事を新規公開する' :'記事を更新して公開', name: 'ope[cmd]', value: 'publish', class: 'btn btn-lg btn-default' if @article.draft?%>

  
<% end %>
<div id="sidebar">
  <div style="height: 0px; right: 40px;position:  relative;top: 50%;" id="navbar">
    <span id="disitem" class="button icon" ><canvas style="transform: rotate(-90deg);" width="70" height="70" id="contentsGauge"></canvas></span>
    <span id="toggle-sidebar" class="button icon"><canvas style="transform: rotate(-90deg);" width="70" height="70" id="contentsMax"></canvas></span>
  </div>
  <div id="sidebar-wrapper" style="position: relative;
  height: 100%;
  overflow: auto;
  background-color: white;
  " class="sidebar-wrapper">
    <ul> 
    </ul>
  </div>
</div>
