<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
   <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :eyecatch_img, :style =>"display:none;" ,:id => "eyecatch_img"%>
    <span class="hiddenButtons" value="隠す">
     <input type="button" class="tdsubmit" style="margin:20px 40px;"value="交換">
     <div style="display:none;">
       <input type="button" id="tsubmit" value="交換">
       <input type="button" id="dsubmit" value="交換">
     </div>
    </span>
    <div class="field">
      <%= f.select :category ,Article.categories.keys.to_a%></div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    
  <input type="text" style="display:none;" id="iurtmp" />
   
   <div class="field sortable">
        <%= f.fields_for :contents do |builder| %>
             <%= render "content_fields", f: builder  %>
        <% end %>
  <!-- <ul class="levelbox floatL levelbox--max4">
   </ul>-->
   
    <%= link_to_add_fields "項目追加", f, :contents %>
  </div>
  <!--
  <p id="cursorz">FFFFFFFFFFF</p>
  <p id="cursors">d4444444444</p>
  <input type="button" id="ssubmit" value="送信">
  <div id="titem" class="t1">title</div>
  <div id="sitem" class="s1">dest</div>
  <input type="button" id="rformb" value="反転">
  --> 

  <%#= f.button '下書き保存', name: 'ope[cmd]', value: 'save', class: 'btn btn-lg btn-default'%>
  <%= f.button @article.new_record? ? '下書き保存' : '変更する', name: 'ope[cmd]', value: 'save', class: 'btn btn-lg btn-default' %>

  <%if @article.published? %>
    <%= f.button '下書き保存！', name: 'ope[cmd]', value: 'draft', class: 'btn btn-lg btn-default'%>
    
  <%end%>    
  <%if @article.draft?%>
    <%= f.button '公開', name: 'ope[cmd]', value: 'publish', class: 'btn btn-lg btn-default'%>
    
  <%end%>
  <%#= f.submit 'このまま保存する', :id => "fullput",:style =>"display",:class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            articles_path, :class => 'btn btn-lg btn-default' %>
  
  
<% end %>
