<%# provide(:title) %>

<% content_for :title do %>

<%= @article.title %>
<%end%>
<!-- コンテンツ -->
<meta property="og:image" content="<%= @article.eyecatch_img %>">
<%#= render_breadcrumbs %>
<section id="topcontent" style="background-color: #ffffff;">
 <div class="topcontent_in clearfix">


<p id="notice"><%= notice %></p>

<%= render_breadcrumbs %>

 </div><!-- /.eyecatch_in -->
</section>
<section id="headcontent">
<div id="headline">
  <div class="head_container">
    <div class="u-clearfix" ng-non-bindable>
      <!--<div id="s_article_thumbnail" style="    width: 128px;
      display:none;
    height: 128px;
    margin: 16px 0;
    overflow: hidden;
    background-color: #888;
    border: 1px solid #222;">
        <img alt="記事タイトルが入ります" style="display:none;" class="crop_image" height="120" src="image/image-1.jpg" width="120" />-->
        <%= image_tag @article.eyecatch_img,:class =>"s_eyecatch_img" %>
      </div>
      <%= @article.updated_at.strftime("%Y年%m月%d日　更新") %>
      <h1 class="article_title"><%= @article.title %></h1>
      <!--<p class="article_description">--><%#= @article.description.html_safe %>
      <div style="display:none;" id="checkAgree"><%= @article.checkagree %></div>
    </div>
    <input type="button" id="showsubmit" style="display:none;"/>
    <div class="head_social" style="float:right;">
      <ul class="social-bottun">
        <li><span class='st_sharethis_vcount' displayText='ShareThis'></span></li>
        <li><span class='st_facebook_vcount' displayText='Facebook'></span></li>
        <li><span class='st_twitter_vcount' displayText='Tweet'></span></li>
      </ul>
    </div>
    <div class="head_like_user">
      <ul class="user_like">
        <li class="user"><%= link_to image_tag(@article.user.user_image_url(:thumb)), @article.user %></li>
        <li class="like">
         <% if logged_in? %>
          <%= render 'likes/like_links', article: @article %>
         <% elsif %>
           <%= link_to image_tag('heart_0.png', { :size => "30",:border => '0', :alt => ''}),new_user_path %>
         <% end %>
         </li>
        
        <li id="like-count">
          <!--  <%= link_to @article.likes.count, liking_users_article_path(@article.id), id: "like-count" %> -->
          <%=  @article.likes.count id: "like-count" %>
        </li>
        
        <li style="margin-left: 20px;">
          <span><%= number_with_delimiter(@page_views) %></span>View
        </li>
      </ul>
    </div>
  </div>
</div>
</section>


<div id="wrapper" class="clearfix">
<div id="column_content">
<div class="article_content"> 
  <%= @article.description.html_safe %>
  <% @article.contents.each do |article| %>
    
     
      <h2>
      <span class="ranking-icon"></span>
         <!--タイトル-->
        <%= article.title.html_safe%>
      </h2>
       
         <!--説明-->
        <%= article.description.html_safe%>
      
      
       
  <% end %>
</div><!-- /article_content -->
</div><!-- /#column_content -->
<div id="column_sidebar">
 <%= render "static_pages/sidecontent" %>
</div>
</div>
