<%= Gon::Base.render_data({}) %>
<!-- コンテンツ -->
<% cache "#{@user_discrime}/articles/#{@article.updated_at.strftime('%Y%m%d%H%M%S')}" ,:expires_in => 10.minutes , skip_digest: true ,compress: true do%>
<div id="header_content">
<section id="topcontent" style="background-color: #ffffff;">
 <div class="topcontent_in clearfix">


   <p id="notice"><%= notice %></p>

    <ul class="breadcrumbs_lists" ><%= render_breadcrumbs builder: CustomBreadcrumbsBuilder %></ul>

 </div><!-- /.eyecatch_in -->
</section>
<section id="headcontent">
<div id="headline">
  <div class="head_container">
    <div class="u-clearfix" ng-non-bindable>
        <%= image_tag @article.eyecatch_img,:class =>"s_eyecatch_img" ,:alt => ""%>
      </div>
      <time datetime="<%= @article.updated_at %>" itemprop="datePublished"><%= @article.updated_at.strftime("%Y年%m月%d日") %></time>
      </br>
      <%= link_to "記事を編集する", "/articles/#{@article.id}/edit/" if logged_in? && @article.user.name == current_user.name %>
      <h1 class="article_title"><%= @article.title %></h1>
      <div style="display:none;" id="checkAgree"><%= @article.checkagree %></div>
    </div>
    <input type="button" id="showsubmit" style="display:none;"/>
    <div class="head_social" style="float:right;">
      <ul class="social-bottun">
        <li class="hb_button"><a href="javascript:void(0);"  onclick="window.open('http://b.hatena.ne.jp/entry/http://ranq-media.com/articles/<%= @article.id%>', '', 'width=500,height=400')">B!</a></li>
        <li><span class='st_facebook_vcount' displayText='Facebook'></span></li>
        <li><span class='st_twitter_vcount' displayText='Tweet'></span></li>
      </ul>
    </div>
    <div class="head_like_user">
      <ul class="user_like">
        <li class="user">
    	 <div class="profimg"> 
         <%= link_to image_tag(@article.user.user_image_url(:thumb)), "/@#{@article.user.name}/" ,:ref => "nofollow"%>
         </div>
	</li>
        <li class="like">
          <%= logged_in? ? (render 'likes/like_links', article: @article) : (link_to image_tag('heart_0.png', { :size => "30",:border => '0', :alt => ''}),new_user_registration_path) %>
         </li>
        
        <li id="like-count">
          <%= @article.likes_count  %>
        </li>

        <li style="margin-left: 20px;">
          <span><%= @page_views %></span>View
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
</div>
<div id="wrapper" class="clearfix">
<hidden type="text" id="getattrlink" ></hidden>
<div id="column_content" class="article_column">
<div class="article_content"> 

  <%= @article.description.html_safe %>
  <% if @article.contents.count > 4%>
   <div class="mokuji">
     <ul>
      <li style="margin-bottom: 1em;">目次</li>
      <% @article.contents.each_with_index do |article, index| %>
       <li><%= index+1%>.<a href="#id<%= index+1%>"><%= article.title%></a></li>
      <% end %>
     </ul>
    </div>
   <% end %>
  <% @article.contents.each_with_index do |article,index| %>
      <h2 id="id<%= index+1%>" class="rankingh2">
      <span class="ranking-icon"><%= index+1%></span>
         <!--タイトル-->
        <%= article.title.html_safe%>
      </h2>
         <!--説明-->
        <%= article.description.html_safe%>
  <% end %>

 <div class="head_social" style="float:right;">
      <ul class="social-bottun">
        <li class="hb_button">
         <a href="javascript:void(0);"  onclick="window.open('http://b.hatena.ne.jp/entry/http://ranq-media.com/articles/<%= @article.id%>', '', 'width=500,height=400')">B!</a>
        </li>
        <li><span class='st_facebook_vcount' displayText='Facebook'></span></li>
        <li><span class='st_twitter_vcount' displayText='Tweet'></span></li>
      </ul>
 </div>
<div class="prof-card">
  <div class="prof-card-content">
    <div class="">

      <div class="prof-card-left">
         <%= link_to image_tag(@article.user.user_image_url(:thumb)), "/@#{@article.user.name}/" ,:ref => "nofollow"%>
      </div>
      <div class="prof-card-right">
      <h3 class="prof-user-name">
         <%= link_to @article.user.user_name, "/@#{@article.user.name}/" ,:ref => "nofollow"%>
      </h3>
      <p class="prof-user-des">
         <%= @article.user.user_description.truncate(200).html_safe if @article.user.user_description !=nil%>

      </p>
      </div>
      <div class="prof-card-link">
        <span>
          <%= link_to "メディアを見る" , "/@#{@article.user.name}/" ,:ref => "nofollow" %>
        </span>
      </div>
    </div>
  </div>
</div>
<%if @idsemptybool != true %>
  <div id="relation_list">
  <h2>あなたにおすすめの記事</h2>
   <div class="pop_list">
 <% @more_like_this.each do |article| %>
   <div class="article_list pickup_list">
    <div class="article_list_content clearfix">
    <%= link_to image_tag(article.eyecatch_img,:class =>"s_eyecatch_img s_article_thumbnail", :id => "s_article_thumbnail article_list_thumb") ,"/articles/#{article.id}/" %>
    <div class="article_list_text">
       <p class="article_list_title">
          <%= link_to article.title.html_safe, "/articles/#{article.id}/", style: "" %></p>
     </div>
   </div>
  </div>
 <% end %>
  <div style="display:none;"> 
	  <input type="text" id="initialTop"/>
	  <input type="text" id="setTop"/>
	  <input type="text" id="picksTop"/>
	  <input type="checkbox" id="downCheck" />
	  <input type="checkbox" id="upCheck" />
  </div>
</div>
<% end %>
</div><!-- /article_content -->
</div><!-- /#column_content -->
</div>
<div style="display:none;" id="new_article_picks">
 <%= render @articles %>
</div>
<a id="styling" href='/api/articles_siderank?pande=1'></a>
</div>
<% end %>
