<% provide(:title,"ユーザー一覧")%>
<h1>ユーザー一覧</h1>

       <%# @orders.each do |on| %>
         <%#= on.user_name%></br>
       <%# end %>
<!--
<%#= will_paginate %>

<ul class="users">
  <%# @users.each do |user| %>
    <%#= render user %>
  <%# end %>
</ul>

<%#= will_paginate %>
-->


<%#= page_entries_info @users%>

<%= search_form_for @q, enforce_utf8: false,url: access_log_index_path, class: 'form-inline' do |f| %>
   <%=  f.label 'Create At' %>
  <%#= f.collection_select :name, User.all, :id, :user_name %>
  <%= f.search_field :created_at_gteq, class: 'form-control input-sm', 'datepicker' => true %>
  <%= f.search_field :created_at_lteq, class: 'form-control input-sm', 'datepicker' => true %>
  <%= f.sort_fields do |s| %>
    <%= s.sort_select %>
  <% end %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<table id="shops">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  
    
  <tbody class="page">
     <tr>
      <th>img</th>
      <th>名前</th>
      <th>日毎投稿数</th>
      <th>投稿数</th> 
      <th>日毎View数</th>
      <th>全投稿のView数</th>
     </tr>
    <% @users.each do |user| %>
     <tr class="shop">

      <td>
       <% if user.certificated == true && Rails.env != "production" %>
           <%= image_tag user.user_image_url(:thumb)%> 認証ユーザー
       <%else%>
         　<%= image_tag user.user_image_url(:thumb)%>

       <% end %>

      </td>
      <td><%= link_to user.user_name, user_path(user.name) %></td>
      <td> <%= user.articles.where(created_at: sort_gteq..sort_lteq).count %></td>

      <td> <%= user.count_articles%></td>
      <% keys = ""%>
      <% pren = ""%>
      <% user.articles.each do |article| %>
       <% (sort_gteq.to_date..sort_lteq).each do |date| %>
         <% keys << "user/#{article.user_id}/articles/daily/#{date.to_s}" %>
       <% end %>
       <% puts keys%>
       <% pren = REDIS.zunionstore("user/#{article.user_id}/articles/betweendays", keys) %>
       <% puts "aan"%>
       <% puts pren%>
       <%= REDIS.zrevrange "user/#{article.user_id}/articles/betweendays", 0,-1 %>
      <% end %>

      <td> <%= user.all_articles_views%></td>


         

     </tr>

    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Article', new_article_path %>
<%#= paginate @users %>
