


<%= search_form_for @q, enforce_utf8: false,url: access_log_index_path, style: 'position:static' do |f| %>
   <div style="position:relative;">
   <%=  f.label 'Create At' %>
  <%= f.date_field :created_at_gteq %>
  <%= f.date_field :created_at_lteq %>
  <%= f.sort_fields do |s| %>
    <%= s.sort_select %>
  <% end %>
  <%= submit_tag 'Search', :name => nil %>
  </div>
<% end %>

<table id="shops">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  
    
  <tbody class="page">
     <tr>
      <th>id</th>
      <th>img</th>
      <th>UserID</th>
      <th>名前</th>
      <th>期間投稿数</th>
      <th>投稿数</th> 
      <th>期間View数</th>
      <th>全投稿のView数</th>
     </tr>
    <% @users.each do |user| %>
     <tr class="shop">

      <td><%= user.id %></td>
      <td>
         　<%= image_tag user.user_image_url(:thumb)%>
      </td>
      <td><%= user.name %></td>
      <td><%= user.user_name %></td>
      <td> <%= user.period_count_articles %></td>
      <td> <%= user.count_articles%></td>
      <td><%= user.period_articles_views %></td>
      <td> <%= user.all_articles_views%></td>
      <td> <%= user.day_count_view%></td>

     </tr>
    <% end %>
    
  </tbody>
</table>

<br>

