<%# provide(:title, @user.name) %>
<% content_for :title do %>

<%= @user.name %>の記事一覧
<%end%>
<div class="row" >
  <div class="" style="width: 1200px; margin: 0 auto;">
    <section class="user_info">
      <h1>
        <% if @user.certificated == true %>
		くろぶち<%= image_tag @user.user_image_url(:thumb)%>
        <%else%>
	　<%= image_tag @user.user_image_url(:thumb)%>
     
        <% end %>    
      </h1>
        <%= @user.user_name %>
       <% if @user.user_description !=nil%>
                <p><%= @user.user_description.html_safe %><p>

        <% else %>
                <p><%= @user.user_description %><p>
        <% end %> 

        <table>
          <tbody>

         <% sum_of_likes = 0 %> 
         <% sum_of_views = @user.articles.sum(:view_count)%>
         <% sum_of_yesterday_views =0 %> 
         <% @user.articles.each do |article| %>
           <% sum_of_likes += article.likes_count.to_i %>
         <% end %>
         <% if logged_in? && @user.name == current_user.name %>
          <% if current_user.social_profiles.where(provider: "twitter").empty? != false %>
            <%= link_to "twitter認証", user_twitter_omniauth_authorize_path %>
          <%else%>
            <%= link_to "twitter認証済み", @user.social_profiles.where(provider: "twitter").map(&:url).first %>
             <%= link_to current_user.twitter_s == true ? '通知解除' : '通知する', current_user.twitter_s == true ? inshare_twitter_user_path : share_twitter_user_path , class: 'btn btn-lg btn-default' %> 
 
          <%end%>
            </br>

          <% if current_user.social_profiles.where(provider: "facebook").empty? != false %>
            <%= link_to "facebook認証", user_facebook_omniauth_authorize_path %>
          <%else%>
            <%= link_to "facebook認証済み", @user.social_profiles.where(provider: "facebook").map(&:url).first %>
             <%= link_to current_user.facebook_s == true ? '通知解除' : '通知する', current_user.facebook_s == true ? inshare_facebook_user_path : share_facebook_user_path , class: 'btn btn-lg btn-default' %> 
          <%end%>
            </br>

         <%else%>
           <% if @user.social_profiles.where(provider: "twitter").empty? != true %>
            <%= link_to "twitter認証済み", @user.social_profiles.where(provider: "twitter").map(&:url).first %>
           <%end%>
           </br>
           <% if @user.social_profiles.where(provider: "facebook").empty? != true %>
            <%= link_to "facebook認証済み", @user.social_profiles.where(provider: "facebook").map(&:url).first %>
           <%end%>
           </br> 
         <%end%>
          
         <span style="letter-spacing:0px">Total View</span>：<%= sum_of_views %></br>
         <span style="letter-spacing:0px">Total Likes</span>：<%= sum_of_likes %></br>
         <span style="letter-spacing:0px">昨日あなたが獲得したView数</span>：<%= @weeks_views[0] %></br>
         <%= line_chart @charts,stacked: true, curve: false,label: "View",height:"200px",width: "500px",max: @floen%>
         <div style="margin-bottom:30px;"></div>
         <%# @socl = Article.where(id: @ids) %>
         <%# @socl.each do |oa| %>
           <%#= oa.title %>  
         <%# end%>
          <% if logged_in? %>
            <%= render @articleus %>
          <% else %>
            <%= render @nuarticleus %>
          <% end %> 

          </tbody>
        </table>
         
      <%= "#{@user.user_name}さんは"%><%= link_to @user.likes.count, like_articles_user_path(@user.name) %>個の投稿にいいね！しています
    <%= paginate @articleus %>     
     
    </section>
  </div>
</div>


<script>
  dispatcher.bind("real_time",function(data){
      var ja = "like_id" + data['article_id'];
      console.log(ja);
      var like_id  = document.getElementById(ja).textContent;
      document.getElementById(ja).textContent = data['content'];
      console.log(like_id);
  });


  dispatcher.bind("real_time_view",function(data){
      var ja = "view_id" + data['article_id'];
      console.log(ja);
      var like_id  = document.getElementById(ja).textContent;
      document.getElementById(ja).textContent = data['content'];
      console.log(like_id);
  });

</script>







<script>
$(document).ready(function() {
//setTimeout(function(){
var i = 99;
var countup = function(){
$('.odometer').html(i++); //数字は最後の数値
}

setInterval(countup,2000)

//}, 1000);
});
</script>

<div class="odometer" style="font-size:14px;">99</div>
