<%# provide(:title, @user.name) %>
<% content_for :title do %>

<%= @user.name %>の記事一覧
<%end%>
<div class="row" >
  <div class="" style="width: 1200px; margin: 0 auto;">
    <section class="user_info">
      <h1>
        <% if @user.certificated == true %>
		くろぶち<%= image_tag @user.user_image_url(:thumb)%>
        <%else%>
	　<%= image_tag @user.user_image_url(:thumb)%>
     
        <% end %>    
      </h1>
        <%= @user.user_name %>
       <% if @user.user_description !=nil%>
                <p><%= @user.user_description.html_safe %><p>

        <% else %>
                <p><%= @user.user_description %><p>
        <% end %> 

        <table>
          <tbody>

          <% sum_of_views = 0 %>
         <% sum_of_likes = 0 %> 
         <%# @articleus.each do |article| %>
         <% @user.articles.each do |article| %>
           <% sum_of_views += article.impressionist_count.to_i %>
           <% sum_of_likes += article.likes_count.to_i %>
         <% end %>
         
         <% if logged_in? && @user == current_user %>
          <% if current_user.social_profiles.where(provider: "twitter").empty? != false %>
            <%= link_to "twitter認証", user_twitter_omniauth_authorize_path %>
          <%else%>
            <%= link_to "twitter認証済み", @user.social_profiles.where(provider: "twitter").map(&:url).first %>
             <%= link_to current_user.twitter_s == true ? '通知解除' : '通知する', current_user.twitter_s == true ? inshare_twitter_user_path : share_twitter_user_path , class: 'btn btn-lg btn-default' %> 
 
          <%end%>

          <% if current_user.social_profiles.where(provider: "facebook").empty? != false %>
            <%= link_to "facebook認証", user_facebook_omniauth_authorize_path %>
          <%else%>
            <%= link_to "facebook認証済み", @user.social_profiles.where(provider: "facebook").map(&:url).first %>
             <%= link_to current_user.facebook_s == true ? '通知解除' : '通知する', current_user.facebook_s == true ? inshare_facebook_user_path : share_facebook_user_path , class: 'btn btn-lg btn-default' %> 
          <%end%>

         <%else%>
           <% if @user.social_profiles.where(provider: "twitter").empty? != true %>
            <%= link_to "twitter認証済み", @user.social_profiles.where(provider: "twitter").map(&:url).first %>
           <%end%>
           <% if @user.social_profiles.where(provider: "facebook").empty? != true %>
            <%= link_to "facebook認証済み", @user.social_profiles.where(provider: "facebook").map(&:url).first %>
           <%end%>
         
         <%end%>
         <span style="letter-spacing:4.4px">総獲得View数</span>：<%= sum_of_views %></br>
         <span style="letter-spacing:0px">総獲得いいね！数：</span><%= sum_of_likes %>


            <%= render :partial => "articles/uarticle" %>
          </tbody>
        </table>
         
      <%= "#{@user.user_name}さんは"%><%= link_to @user.likes.count, like_articles_user_path(@user.name) %>個の投稿にいいね！しています
    <%= paginate @articleus %>     
     
    </section>
  </div>
</div>
