<%# provide(:title, @user.name) %>
<% content_for :title do %>

<%= @user.user_name %> | RanQ [ランク]
<%end%>
<% if @user.certificated != true %>
<div class="row" >
  <div class="" style="">
    <section class="user_info">
      <div class="user_prof">
       <div class="user_prof_lefttop">
		<%= image_tag @user.user_image_url(:thumb_view)%>
     		<p>ランク:<%= @user.writer_status%></p> 
        <p><%= @user.user_name %></p>
       </div>
       <div class="user_prof_righttop">
         <% sum_of_likes = 0 %> 
         <% @user.articles.where("likes_count >0").each do |article| %>
           <% sum_of_likes += article.likes_count.to_i %>
         <% end %>
         <span style="letter-spacing:0px">Total View</span>：<%= @sum_of_views %></br>
         <span style="letter-spacing:0px">Total Likes</span>：<%= sum_of_likes %></br>
         <span style="letter-spacing:0px">昨日の公開投稿数</span>：<%= @yesterday_article_published %>
         <p>
         <% if logged_in? && @user == current_user %>
          <% if current_user.social_profiles.where(provider: "twitter").empty? != false %>
            <%= link_to "twitter認証", user_twitter_omniauth_authorize_path %>
          <%else%>
            <%= link_to "twitter認証済み", @user.social_profiles.where(provider: "twitter").map(&:url).first %>
 
          <%end%>
	  
          <% if current_user.social_profiles.where(provider: "facebook").empty? != false %>
            <%= link_to "facebook認証", user_facebook_omniauth_authorize_path %>
          <%else%>
            <%= link_to "facebook認証済み", @user.social_profiles.where(provider: "facebook").map(&:url).first %>
          <%end%>
         <%else%>
           
           <% if @user.social_profiles.where(provider: "twitter").empty? != true %>
            <%= link_to "twitter認証済み", @user.social_profiles.where(provider: "twitter").map(&:url).first %>
           <%end%>
           <% if @user.social_profiles.where(provider: "facebook").empty? != true %>
            <%= link_to "facebook認証済み", @user.social_profiles.where(provider: "facebook").map(&:url).first %>
           <%end%>
         
         <%end%>
          </p>

       </div>
       <div class="user_prof_bottom">
       <p>
       <% if @user.user_description !=nil%>
                <%= @user.user_description.html_safe %>
       <% else %>
                <%= @user.user_description %>
        <% end %>
        </p>
      </div>

        <table>
          <tbody>
            <%= render :partial => "articles/uarticle" %>
          </tbody>
        </table>
         
    <%= paginate @nuarticleus %>     
     
    </section>
  </div>
</div>   
<%else%>
<p>このアカウントは運営によって凍結されています</p>
<div style="margin:400px;"></div>
<%end%>
