<%# provide(:title, @user.name) %>
<% content_for :title do %>

<%= @user.name %>の記事一覧
<%end%>
<%= render_breadcrumbs %>

<div class="row" >
  <div class="" style="width: 1200px; margin: 0 auto;">
    <section class="user_info">
      <h1>
        <%= image_tag @user.user_image_url(:thumb)%>
        <%#= image_tag @user.header_image_url(:thumb_view)%>
        <%#= @user.name %>
            
      </h1>
        <%= @user.user_name %>
        <%= @user.user_description %><br>
       
          <%#= @title %>
        <table>
          <tbody>
          <% if logged_in? %>
           <% if current_user.name == @user.name %>
            <%= render @articleus %>
            <% else %>
            <%= render @nuarticleus %>
           <%end%>
          <% else %>
            <%= render @nuarticleus %>
          <% end %>    
          </tbody>
        </table>
         
      あなたは<%= link_to @user.likes.count, like_articles_user_path(@user.name) %>個の投稿にいいね！しています
    <%= paginate @articleus %>     
     
    </section>
  </div>
</div>
