<% if elements.present? and elements.length > 1 %>
    <!--<ul class="breadcrumbs_lists" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">-->
    <ul class="breadcrumbs_lists" itemscope itemtype="http://schema.org/BreadcrumbList">
    <% count = 1 %> 
    <% elements[0..-2].each do |element| %>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <%# if element.path.present? %>
            <a itemprop="item" href="<%= element.path %>"><span itemprop="name"><%= element.name %></span></a>
        <%# else %>
            <!-- <span itemprop="title"><%= element.name %></span> -->
        <%# end %>
	<meta itemprop="position" content="<%= count %>">
        <% count+=1 %> 
        </li>
        >>
    <% end %>
        <li><span><%= elements.last.name %></span></li>
    </ul>
<% end %>

