<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(@article.errors.count, "error") %> 個項目がありません</h2>-->

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="posting_buttons">
   <hidden type="button" id="tansubmit" value="ansubmit">
       <hidden type="button" id="dansubmit" value="ansubmit">


  </div> 
   <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.select :category ,Item.categories.keys.to_a%></div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="description_field">
     <div class="field" style="">
      <%= f.label :description, "説明"%><br>
      <%= f.text_area :description %>
     
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.text_field :date, class: 'datetimepicker' %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price %>
    </div>
    <div>
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
     <ul style="display:none;">
     <%= link_to_add_fieldsf "+", f, :item_days %>
        <%= f.fields_for :item_days do |builder| %>
          <%= render "item_day_fields", f: builder  %>
        <% end %>


    <%#= link_to_add_fieldsl "+", f, :item_days %>
     </ul>
    </div>
    <% if !@item.new_record?  %>
    <div class="field">
      <%= f.label "統合先アイテムを入力　（例：1）" %><br>
      <%= f.text_field :combine %>
    </div>

    <% end %>


  <%= f.submit 'このまま保存する', :id => "fullput",:style =>"display",:class => 'btn btn-primary' %>
  </div>
   </div>
   

  
<% end %>
