<%# provide(:title) %>

<!-- コンテンツ -->
<div id="header_content">
<section id="topcontent" style="background-color: #ffffff;">
 <div class="topcontent_in clearfix">


<p id="notice"><%= notice %></p>

<ul class="breadcrumbs_lists" ><%= render_breadcrumbs builder: CustomBreadcrumbsBuilder %></ul>

 </div><!-- /.eyecatch_in -->
</section>

<section class="item_headcontent" id="headcontent">
<div id="headline">
  <div class="head_container">
      </br>
      <% if logged_in? && @item.user.name == current_user.name %> 
      <%= link_to "アイテムを編集する", edit_item_path(@item)%>
      <% end %>
       <div class="u-clearfix" ng-non-bindable>
        <%= image_tag @item.image,:class =>"item_eyecatch_img" %>
      </div>
      <time datetime="<%= @item.updated_at %>" itemprop="datePublished"><%#= @item.updated_at.strftime("%Y年%m月%d日　更新") %></time>
      <h1 class="spot_title"><%= @item.title %></h1>
    </div>
    <input type="button" id="showsubmit" style="display:none;"/>
    <div class="item_head_like_user">
      <ul class="user_like">
        <li class="like">
         <% if logged_in? %>
          <%= render 'item_likes/like_links', item: @item %>
         <% elsif %>
           <%= link_to image_tag('heart_0.png', { :size => "30",:border => '0', :alt => ''}),new_user_registration_path %>
         <% end %>
         </li>
        
        <li id="item_like-count">
          <%=  @item.item_likes.count id: "like-count" %>
        </li>
        
      </ul>
    </div>
  </div>
</div>
</section>

<div id="wrapper" class="clearfix">
<hidden type="text" id="getattrlink" ></hidden>
<div id="column_content" class="item_column">
<div class="article_content item_detail"> 
  <h2>「<%= @item.title %>」の基本情報</h2>
  <div class="item_table">
   <table>
     <tbody>
      <tr>
       <th>名前</th>
       <td><%= @item.title %></td>
      </tr>
      <tr>
       <th>説明</th>
       <td><%= @item.description %></td>
      </tr>
      <tr>
       <th>場所</th>
       <td class="map">
          <%if @item.category == "イベント"%>
          <span><%= @item.tag_list.first  %></span><br/>
          <% end %>
          <span><%= @item.address %></span>
          <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBph7ayjW9Kx-IXJ-EijLXvJX7HEzpTbgA&q=<%= @item.address%>" allowfullscreen>
           </iframe>
       </td>
      </tr>

      <% if @item.phonenumber.nil? %>
      <tr>
       <th>電話番号</th>
       <td><%= @item.phonenumber %></td>
      </tr>
      <tr>
      <% end %>

       <th>
         <% if @item.category == "イベント"%>
           開催期間
	 <% end %>
         <% if @item.category == "スポット"%>
           営業時間
	 <% end %>
       </th>
       <td>
         
          <% @item.item_days.each do |item|%>
           <div>
            <%= item.begin_time.strftime("%H:%M")%>~<%= item.finish_time.strftime("%H:%M")%>
            <% if @item.category == "イベント"%>
     	     <%= item.begin_day%>~<%= item.finish_day%>
            <% end%>
　　　　　　<% if @item.category == "スポット"%>
             <%= item.mon != false ? "月 ": ""%>
             <%= item.tue != false ? "火 ": ""%>
             <%= item.wed != false ? "水 ": ""%>
             <%= item.thu != false ? "木 ": ""%>
             <%= item.fri != false ? "金 ": ""%>
             <span style="color: blue"><%= item.sat != false ? "土 ": ""%> </span>
             <span style="color: red"><%= item.sun != false ? "日 ": ""%> </span>
             <span style="color: red"><%= item.hol != false ? "祝": ""%> </span>
            <% end%>
           </div>
         <%end%>

       </td>
      </tr>
      <% if @item.remark.nil? %>
      <tr>
       <th>備考</th>
       <td><%= @item.remark %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
  </div>
  <%#= render partial: 'tags', locals: { tags: @item.tags } %>
  <% if @item.category == "スポット" %>
   <% ItemSpot.where(spot_id: @item.id).each do |event|%>
    <%= link_to Item.find(event.item_id).title , item_path(Item.find(event.item_id))%>
   <% end %>
  <% end %>

</div><!-- /article_content -->
</div><!-- /#column_content -->
</div>
</div>
