<div class="col-sm-3" >
    <%= render partial: 'settings/shared/menu'%>

    <div class="col-sm-9" >
        <div class="row" >
            
 
            <%#=form_for current_user, layout: :horizontal, url: settings_profiles_path , method: :PUT do |f| %>
            <%=form_for current_user, layout: :horizontal, url: profile_path , method: :PUT do |f| %>
                        
                <%#= f.alert_message '以下の項目を修正して下さい。' %>
                <%=f.label :name, "ユーザーID" %>
                <%= f.text_field :name ,:readonly => true %>

                <%=f.label :emain, "メールアドレス" %>
                <%= f.text_field :email , :readonly => true %>
                
                <%=f.label :user_name, "ユーザーネーム" %>
                <%= f.text_field :user_name %>
                
                <%=f.label :user_description,"プロフィール" %>
                <%= f.text_area :user_description %>
                
                <%=f.label :user_image,"ユーザー画像" %>
                <%= image_tag current_user.user_image_url(:thumb)%>
		
                <%=f.file_field :user_image %>
		<%#=f.label :header_image,"ヘッダー画像" %>
		
                <%#= image_tag current_user.header_image_url(:thumb)%>
                <%#=f.file_field :header_image %>
                 
		<%if current_user.social_profiles.where(provider: "twitter").nil? != true%>
                     <%= current_user.twitter_s != false ? '<div class="div-twi">'.html_safe : '<div class="div-notwi">'.html_safe%> 
                        <%= embedded_svg("twitter.svg" ,:class => "sns-logo")%> 
                     </div>   
	             twitterでシェアする
		     <%if current_user.twitter_s != false %> 
		       <%= f.check_box :twi,name: "ope[twi]"  %> 
  	             <% else %>
		       <%= f.check_box :twi,name: "ope[twi]"  %> 
  	             <% end %>
		<% end %>
                

		<%if current_user.social_profiles.where(provider: "facebook").nil? != true%>
                     <%= current_user.facebook_s != false ? '<div class="div-face">'.html_safe : '<div class="div-noface">'.html_safe%> 
                        <%= embedded_svg("facebook.svg" ,:class => "sns-logo")%> 
                     </div>   
		     facebookでシェアする
		     <%if current_user.facebook_s != false %> 
		       <%= f.check_box :face,name: "ope[fac]"  %> 
  	             <% else %>
		       <%= f.check_box :face,name: "ope[fac]"  %> 
  	             <% end %>
		<% end %>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <%= f.submit '更新する', class: 'btn btn-primary' %>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>
