<div class="col-sm-3" >
    <%#= render partial: 'settings/shared/menu'%>

    <div class="col-sm-9" >
        <div class="row" >
            
 
            <%#=form_for current_user, layout: :horizontal, url: settings_profiles_path , method: :PUT do |f| %>
            <%=form_for current_user, layout: :horizontal, url: setup_path , method: :PUT do |f| %>
                        
                <%#= f.alert_message '以下の項目を修正して下さい。' %>
                <%=f.label :name, "ユーザーID" %>
                <%= f.text_field :name ,:readonly => true %>

                <%=f.label :emain, "メールアドレス" %>
                <%= f.text_field :email , :readonly => true %>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <%= f.submit '更新する', class: 'btn btn-primary' %>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>
